* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 9, 9, 0.356);
}

div {
  display: flex;
  min-width: 30vw;
  max-width: 70vw;
  width: max-content;
  height: 25vw;
   
  gap: 10vw;
  padding: 10vw;
}

button{
  height: 15vw;
  width: 10vw;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
}
