<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <!--<link rel="stylesheet" href="../static/css/index.css">-->
  <title>Document</title>
</head>
  <body>
    <main>
      <section class="index">
        <form action="/pagCliente" method="post">
          <button type="submit">Clientes</button>
        </form>
        <form action="/pagCarrinho" method="post">
          <button type="submit">Carrinho</button>
        </form>
        <form action="/pagVitrine" method="post">
          <button type="submit">Vitrine</button>
        </form>
      </section>
    </main>
  </body>
</html>