<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notas Fiscais</title>
  <link rel="stylesheet" href="../static/css/notas.css">
</head>
<body>
  <header>
    <div class="titulo">Notas Fiscais</div>
    <form action="/returnMain" method="post">
        <button class="returnHeader" type="submit">Retornar</button>
    </form>
  </header>

  <main>
    <div class="container">
      <div class="container-nota">
        <div class="container-nota-cliente-info">
          <p>Numero do Pedido: <span th:text="numPedido">Exemplo</span></p>
          <p>cpf: <span th:text="cpf"></span></p>
          <p>data: <span th:text="data"></span></p>
        </div>
        <div class="container-nota-produto-info">
          <p>Codigo Item: <span th:text="codItem"></span></p>
          <p>Codigo Produto: <span th:text="codProd"></span></p>
          <p>Nome Produto: <span th:text="nomeProd"></span></p>
          <p>Quantidade: <span th:text="quantia"></span></p>
          <p>Valor Unitario: <span th:text="valUni"></span></p>
          <p>Valor Item: <span th:text="valItem"></span></p>
        </div>  
      </div>
      <div class="container-nota">
        <div class="container-nota-cliente-info">
          <p>Numero do Pedido: <span th:text="numPedido"></span></p>
          <p>cpf: <span th:text="cpf"></span></p>
          <p>data: <span th:text="data"></span></p>
        </div>
        <div class="container-nota-produto-info">
          <p>Codigo Item: <span th:text=""></span></p>
          <p>Codigo Produto: <span th:text=""></span></p>
          <p>Nome Produto: <span th:text=""></span></p>
          <p>Quantidade: <span th:text=""></span></p>
          <p>Valor Unitario: <span th:text=""></span></p>
          <p>Valor Item: <span th:text=""></span></p>
        </div>  
      </div>
      <div class="container-nota">
        <div class="container-nota-cliente-info">
          <p>Numero do Pedido: <span th:text="numPedido"></span></p>
          <p>cpf: <span th:text="cpf"></span></p>
          <p>data: <span th:text="data"></span></p>
        </div>
        <div class="container-nota-produto-info">
          <p>Codigo Item: <span th:text=""></span></p>
          <p>Codigo Produto: <span th:text=""></span></p>
          <p>Nome Produto: <span th:text=""></span></p>
          <p>Quantidade: <span th:text=""></span></p>
          <p>Valor Unitario: <span th:text=""></span></p>
          <p>Valor Item: <span th:text=""></span></p>
        </div>  
      </div>
      <div class="container-nota">
        <div class="container-nota-cliente-info">
          <p>Numero do Pedido: <span th:text="numPedido"></span></p>
          <p>cpf: <span th:text="cpf"></span></p>
          <p>data: <span th:text="data"></span></p>
        </div>
        <div class="container-nota-produto-info">
          <p>Codigo Item: <span th:text=""></span></p>
          <p>Codigo Produto: <span th:text=""></span></p>
          <p>Nome Produto: <span th:text=""></span></p>
          <p>Quantidade: <span th:text=""></span></p>
          <p>Valor Unitario: <span th:text=""></span></p>
          <p>Valor Item: <span th:text=""></span></p>
        </div>  
      </div>      
    </div>
  </main>
</body>
</html>