<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vitrine</title>
  <!-- <link rel="stylesheet" th:href="@{/css/vitrine.css}"> -->
  <link rel="stylesheet" href="..static/css/vitrine.css">
</head>
<body>
  <header>
    <div class="titulo">Vitrine</div>
    <form action="/returnMain" method="post">
        <button class="returnHeader" type="submit">Retornar</button>
    </form>
  </header>

  <main>
    <div class="container">

      <div class="item-container">
        <image class="item-image" th:src="@{/images/men-golf-polo-t-shirt-black.jpg}"></image>
        <div class="item-info">
          <p>Men Golf Polo T-Shirt Black</p>
          <p>R$ 89,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/1" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/men-chino-pants-beige.jpg}"></image>
        <div class="item-info">
          <p>Men Chino Pants Beige</p>
          <p>R$ 129,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/2" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/women-knit-ballet-flat-black.jpg}"></image>
        <div class="item-info">
          <p>Women Knit Ballet Flat Black</p>
          <p>R$ 159,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/3" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/adults-plain-cotton-tshirt-2-pack-plus-black.jpg}"></image>
        <div class="item-info">
          <p>Adults Plain Cotton T-Shirt 2 Pack Plus Black</p>
          <p>R$ 99,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/4" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/liquid-laundry-detergent-plain.jpg}"></image>
        <div class="item-info">
          <p>Liquid Laundry Detergent Plain</p>
          <p>R$ 34,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/5" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/men-athletic-shoes-green.jpg}"></image>
        <div class="item-info">
          <p>Men Athletic Shoes Green</p>
          <p>R$ 229,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/6" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/plain-hooded-fleece-sweatshirt-yellow.jpg}"></image>
        <div class="item-info">
          <p>Plain Hooded Fleece Sweatshirt Yellow</p>
          <p>R$ 149,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/7" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/trash-can-with-foot-pedal-50-liter.jpg}"></image>
        <div class="item-info">
          <p>Trash Can With Foot Pedal 50 Liter</p>
          <p>R$ 89,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/8" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/women-stretch-popover-hoodie-blue.jpg}"></image>
        <div class="item-info">
          <p>Women Stretch Popover Hoodie Blue</p>
          <p>R$ 179,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/9" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/duvet-cover-set-red-twin.jpg}"></image>
        <div class="item-info">
          <p>Duvet Cover Set Red Twin</p>
          <p>R$ 199,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/10" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/men-navigator-sunglasses-silver.jpg}"></image>
        <div class="item-info">
          <p>Men Navigator Sunglasses Silver</p>
          <p>R$ 99,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/11" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

      <div class="item-container">
        <image class="item-image" th:src="@{/images/round-sunglasses-gold.jpg}"></image>
        <div class="item-info">
          <p>Round Sunglasses Gold</p>
          <p>R$ 109,90</p>
        </div>
        <div class="item-quantity">
          <form action="/inputQuantiaProduto/12" method="post">
            <input class="product-qty" type="number" name="product_qty" min="0" max="10" value="1">
            <button type="submit">Adicionar ao Carrinho</button>
          </form>
        </div>
      </div>

    </div>
  </main>
</body>
</html>
